In [2]:
import numpy as np
import prince
import pandas as pd

In [3]:
data = pd.DataFrame({'City': ['A', 'A', 'A', 'B', 'B', 'B'],
                     'Brand': ['1', '2', '3', '1', '2', '3'],
                     'Count': [10, 40, 20, 20, 50, 30]})

In [4]:
data

  City Brand  Count
0    A     1     10
1    A     2     40
2    A     3     20
3    B     1     20
4    B     2     50
5    B     3     30

In [5]:
table = data.pivot_table(index='Brand', columns='City', values='Count')

In [6]:
table

City    A   B
Brand
1      10  20
2      40  50
3      20  30

In [7]:
ca = prince.CA(n_components=2)
ca = ca.fit(table)

In [8]:
row_coordinates = ca.row_coordinates(table)

In [9]:
row_coordinates

              0
Brand
1      0.159364
2     -0.066402
3      0.023905

In [10]:
data = np.random.rand(4,10)

In [11]:
data

array([[0.32170231, 0.12599197, 0.90104046, 0.25730334, 0.25871974,
        0.76638522, 0.00722306, 0.00103737, 0.84099921, 0.57728548],
       [0.1770667 , 0.34022024, 0.64413308, 0.06027757, 0.55144356,
        0.0641976 , 0.29857845, 0.37427885, 0.81800592, 0.68842597],
       [0.54544095, 0.175488  , 0.35860305, 0.94420217, 0.19005626,
        0.75408833, 0.77089003, 0.48234557, 0.3374388 , 0.89103017],
       [0.63116986, 0.57872453, 0.15081892, 0.39836437, 0.07832827,
        0.76680325, 0.28070606, 0.16278608, 0.62693978, 0.38514902]])

In [16]:
ca = prince.CA(n_components=2)
ca = ca.fit(data)

In [19]:
row_coordinates = ca.row_coordinates(pd.DataFrame(data)).values

In [20]:
row_coordinates

array([[-0.37038115, -0.3356072 ],
       [-0.4500761 ,  0.36173615],
       [ 0.41788184,  0.19409531],
       [ 0.25454457, -0.28299708]])

In [15]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9
0,0.321702,0.125992,0.901040,0.257303,0.258720,0.766385,0.007223,0.001037,0.840999,0.577285
1,0.177067,0.340220,0.644133,0.060278,0.551444,0.064198,0.298578,0.374279,0.818006,0.688426
2,0.545441,0.175488,0.358603,0.944202,0.190056,0.754088,0.770890,0.482346,0.337439,0.891030
3,0.631170,0.578725,0.150819,0.398364,0.078328,0.766803,0.280706,0.162786,0.626940,0.385149